#map {
    width: 100%;       /* Full width */
    height: 400px;     /* Increase height */
    max-height: 500px; /* Optional: Limit max height */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Soft shadow */
}


@media (max-width: 640px) {
    .mobile-full-width {
        width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    
    .mobile-padding {
        padding: 1rem !important;
    }
}